body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
}

button {
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color:rgb(160, 116, 95);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #398399;
}
