#container {
    width: 500px;
    height: 500px;
    position: relative;
  }

#snorlax {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: none;
}
p{
  color:white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
	text-align:center;
}
#coords{
	position:absolute;
	left:550px;
	top:20px;
}
section{
	width:900px;
	height:600px;
}
button{
	width:200px;
	padding:10px;
	color:white;
	background-color:rgb(33, 112, 187);
}