body {
	background-color: #bbcab7;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

header {
	background-color: #ffffff;
	margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
	padding: 10px;
    margin-bottom: 10px;
	text-align: center;
}

h1 {
  color:rgb(59, 59, 59);
  margin: 10px auto 5px auto;
  text-align: center;
  overflow: hidden;
}


table {
	margin: 0 auto;
	width: 800px;
}

th, td {
	border: 1px solid #3e4641;
	color: #333;
	padding: 7px 10px 5px 10px;
	min-width: 9em;
	text-align: left;
}

th {
	background-color: #d7d7d7;
	text-transform: uppercase;
}
td {
	background-color: #fff;
}
table.sortable th:hover {
	cursor: pointer;
}
th.ascending, th.descending, table.sortable th:hover {
	background-color: #6b7e72;
	color: #fff;
}


th.ascending:after {
	font-size: 60%;
    content: '\25B2';
    float: left;
	padding: 4px 5px 0 0;
}
th.descending:after {
	font-size: 60%;
    content: '\25BC';
    float: left;
	padding: 4px 5px 0 0;
}

